<app-form-header text="Address"></app-form-header>
<div [formGroup]="addressForm">
  <div>
    <label for="region"></label>
    <input
      class="e-input"
      type="text"
      placeholder="Region"
      name="region"
      id="region"
      formControlName="region"
    />
  </div>
  <div>
    <label for="city"></label>
    <input
      class="e-input"
      type="text"
      placeholder="City"
      name="city"
      id="city"
      formControlName="city"
    />
  </div>
  <div>
    <label for="subcity"></label>
    <input
      class="e-input"
      type="text"
      placeholder="Subcity"
      name="subcity"
      id="subcity"
      formControlName="subcity"
    />
  </div>
  <div>
    <label for="zone"></label>
    <input
      class="e-input"
      type="text"
      placeholder="Zone"
      name="zone"
      id="zone"
      formControlName="zone"
    />
  </div>
  <div>
    <label for="woreda"></label>
    <input
      class="e-input"
      type="text"
      placeholder="Woreda"
      name="woreda"
      id="woreda"
      formControlName="woreda"
    />
  </div>
  <div>
    <label for="kebele"></label>
    <input
      class="e-input"
      type="text"
      placeholder="Kebele"
      name="kebele"
      id="kebele"
      formControlName="kebele"
    />
  </div>
</div>
